.flex-row
  .flex-column
    .flex-item.appName
      COVID-19 Trends
    .flex-item.infoTile#covid19-info-tile
      = create_info_tile()
    :javascript
       jQuery(function($) {
        $("#query_id").change(function() {
          var state = $('select#query_id :selected').val();
          if(state == "") state="1";
          location.replace('/set_query/' + state);
          return false;
        });
      })
    .flex-item
      %label Select by Query
      %br/
      %select#query_id{:name => "query[id]"}
        = create_query_options()
    %nav.flex-item#covid19-selected_buttons
      = create_selected_buttons()
    %nav.flex-item#covid19-area-buttons.flex-list
      = create_area_buttons()
  .flex-columnn
    .flex-item#covid19-cases-chart
      = create_cases_chart()
    :javascript
      jQuery(function($) {
        $("#plot_interval_id").change(function() {
          var state = $('select#plot_interval_id :selected').val();
          if(state == "") state="1";
          location.replace('/set_interval/' + state);
          return false;
        });
      })
    .flex-item
      %label Plot Interval
      %br/
      %select#plot_interval_id{:name => "plot_interval[id]"}
        = create_interval_options()